@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  //   background-color: ;
  //   color: ;

  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  font-size: 14px;
  //   line-height:
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
