@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);

  font-family: 'Montserrat', sans-serif;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    // width: 768px;
    // margin: 0 auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}
