@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);

  font-family: 'Montserrat', sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}
