@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-background-color: #84a178;
  --primary-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --accent-color: #f8d24e;
  --button-focus-color: #0a8817;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 34px;
    line-height: 1.25;
  }
}

.button {
  height: 42px;
  border: 0;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  border-radius: 10px;
  font-family: inherit;
  font-weight: 600;
}

.button:hover,
.button:focus {
  background-color: var(--button-focus-color);
}

.button:focus {
  color: var(--secondary-text-color);
}

.header {
  background-color: rgb(241, 131, 131);
  background-color: var(--main-background-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-icon {
  fill: var(--accent-color);
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .header-icon {
    margin-top: 20px;
    margin-left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header-icon {
    margin-top: 8px;
    margin-left: 0px;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    max-width: 768px;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    max-width: 1200px;
    display: block;
    margin-left: 270px;
  }
}

.header-nav-list {
  display: flex;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav-list {
    max-width: 1200px;
  }
}

.header-nav-item {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .header-nav-item {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.mob-menu-btn {
  position: absolute;
  /* z-index: 1; */
  top: 16px;
  right: 20px;
}
@media screen and (min-width: 768px) {
  .mob-menu-btn {
    position: absolute;
    /*   z-index: 1; */
    top: 16px;
    right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu-button {
  background-color: var(--main-background-color);
  border: none;
}

.mob-menu-icon {
  justify-content: center;
  align-content: center;
  fill: var(--secondary-text-color);
  width: 41px;
  height: 37px;
}
@media screen and (min-width: 768px) {
  .mob-menu-icon {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu-icon {
    width: 60px;
    height: 65px;
  }
}

.mob-menu {
  position: fixed;
  background-color: #cf1717;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
}/*# sourceMappingURL=index.css.map */