:root {
  --main-background-color: #84a178;
  --primary-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --accent-color: #f8d24e;
  --button-focus-color: #0a8817;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-color: #0a8817;
}
