<section class="about section" id="about">
  <div class="about__wrap container">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <!-- <div class="about__image-wrap"> -->
    <picture>
      <source
        class="about__image"
        srcset="./images/cow.webp 1x, ./images/cow-x2.webp 2x"
        media="(min-width: 1200px)"
        type="image/webp"
      />

      <source
        class="about__image"
        srcset="./images/cow.png 1x, ./images/cow-x2.png 2x"
        media="(min-width: 1200px)"
      />

      <source
        class="about__image"
        srcset="./images/cow-tab.webp 1x, ./images/cow-tab-x2.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />

      <source
        class="about__image"
        srcset="./images/cow-tab.png 1x, ./images/cow-tab-x2.png 2x"
        media="(min-width: 768px)"
      />

      <source
        class="about__image"
        srcset="./images/cow-mob.webp 1x, ./images/cow-mob-x2.webp 2x"
        media="(min-width: 320px)"
        type="image/webp"
      />

      <source
        class="about__image"
        srcset="./images/cow-mob.png 1x, ./images/cow-mob-x2.png 2x"
        media="(min-width: 320px)"
      />

      <img
        class="about__image"
        src="./images/cow-mob.png"
        alt="a cow grazes on a meadow"
      />
    </picture>
    <!-- </div> -->
    <div class="about__content-wrap">
      <div class="about__text-wrap">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text">
          This is enough to choose ice cream and coffee for any mood!
        </p>
      </div>
      <button
        class="read-btn button js-open-modal"
        type="button"
        data-modal="3"
      >
        Read more
        <svg class="read-btn__icon" width="7px" height="10px">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
