<section class="about section">
  <div class="container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <picture>
      <source
        srcset="./images/cow.webp 1x, ./images/cow-x2.webp 2x"
        media="(min-width: 1200px)"
        type="image/webp"
      />

      <source
        srcset="./images/cow.png 1x, ./images/cow-x2.png 2x"
        media="(min-width: 1200px)"
      />

      <source
        srcset="./images/cow-tab.webp 1x, ./images/cow-tab-x2.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />

      <source
        srcset="./images/cow-tab.png 1x, ./images/cow-tab-x2.png 2x"
        media="(min-width: 768px)"
      />

      <source
        srcset="./images/cow-mob.webp 1x, ./images/cow-mob-x2.webp 2x"
        media="(min-width: 320px)"
        type="image/webp"
      />

      <source
        srcset="./images/cow-mob.png 1x, ./images/cow-mob-x2.png 2x"
        media="(min-width: 320px)"
      />

      <img
        src="./images/cow-mob.png"
        alt="a cow grazes on a meadow"
        width="280px"
        height="300px"
      />
    </picture>

    <p>
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p>
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>

    <button class="read-btn button" type="button">
      Read more

      <!-- <svg class="btn-subscribe__icon" width="" height="">
        <use href="./images/icons.svg#??"></use>
      </svg> -->
    </button>
  </div>
</section>
