<section class="section contacts" id="contacts">
  <div class="container contacts">
    <h2 class="contacts-title visually-hidden">Contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <p class="contacts-category">Cafe</p>
        <p class="contacts-city">Chicago</p>
        <address class="address">
          <a
            class="contacts-address"
            href="https://goo.gl/maps/bwu1WQGQZPsA8euU6"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="schedule-list list">
          <li class="schedule-item">
            <p class="schedule-days">Monday - Friday</p>
            <p class="schedule-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule-item">
            <p class="schedule-days">Saturday - Sunday</p>
            <p class="schedule-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connection-list list">
          <li class="connection-item">
            <a class="connection-link" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="connection-item">
            <a class="connection-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-item">
        <p class="contacts-category truck">Food truck</p>
        <p class="contacts-city">Los Angeles</p>
        <address class="address">
          <a
            class="contacts-address"
            href="https://goo.gl/maps/xo37eKbRhdYv4fX5A"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="schedule-list list">
          <li class="schedule-item">
            <p class="schedule-days">Monday - Friday</p>
            <p class="schedule-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule-item">
            <p class="schedule-days">Saturday - Sunday</p>
            <p class="schedule-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connection-list list">
          <li class="connection-item">
            <a class="connection-link" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="connection-item">
            <a class="connection-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-item">
        <p class="contacts-category">Cafe</p>
        <p class="contacts-city">New York</p>
        <address class="address">
          <a
            class="contacts-address"
            href="https://goo.gl/maps/KF1eVvvXSEx8WE2K6"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <ul class="schedule-list list">
          <li class="schedule-item">
            <p class="schedule-days">Monday - Friday</p>
            <p class="schedule-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule-item">
            <p class="schedule-days">Saturday - Sunday</p>
            <p class="schedule-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connection-list list">
          <li class="connection-item">
            <a class="connection-link" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="connection-item">
            <a class="connection-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="btn-wrap">
    <button type="button" class="button btn-location js-open-modal" data-modal="4">Our Locations
      <svg class="contacts-icon" width="12" height="12">
									<use href="./images/icons.svg#icon-arrow-button"></use>
								</svg>
    </button>
    <button type="button" class="button btn-franchise js-open-modal" data-modal="5">Franchise
      <svg class="contacts-icon" width="12" height="12">
									<use href="./images/icons.svg#icon-arrow-button"></use>
								</svg></button>
  </div>
</section>
