<div class="container">
         <ul class="customer-list list">
      <li class="customer-item">
        <img
          src="./images/emily-mob.jpg"
          alt="Emily"
          class="customer-img"
          width="110"
        />
        <!-- <div class="customer-name"> -->
          <div  class="review-container">
          <p class="customer-review">I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles! 
           In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        </div>
          <!-- </div> -->
          <h3 class="customer-subtitle">Emily, Los-Angeles</h3>

          <li class="customer-item">
            <img
              src="./images/sam-mob.jpg"
              alt="Sam"
              class="customer-img"
              width="110"
            />
            <!-- <div class="customer-name"> -->
              <div  class="review-container">
              <p class="customer-review">I love visiting your cafe.
                You prepare the most delicious ice cream in Los Angeles! 
               In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
              <!-- </div> -->
              <h3 class="customer-subtitle">Sam, Los-Angeles</h3>
         
              <li class="customer-item">
                <img
                  src="./images/diana-mob.jpg"
                  alt="Diana"
                  class="customer-img"
                  width="110"
                />
                <!-- <div class="customer-name"> -->
                  <div  class="review-container">
                  <p class="customer-review">I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles! 
                   In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                </div>
                  <!-- </div> -->
                  <h3 class="customer-subtitle">Diana, Chicago</h3>

                  <li class="customer-item">
                    <img
                      src="./images/bryan-mob.jpg"
                      alt="Bryan"
                      class="customer-img"
                      width="110"
                    />
                      <div  class="review-container">
                      <p class="customer-review">I love visiting your cafe.
                        You prepare the most delicious ice cream in Los Angeles! 
                       In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                    </div>
                      <h3 class="customer-subtitle">Bryan, New-York</h3>