<section class="customers">
   <div class="customer-container">
         <ul class="customer-list list slider">
      <li class="customer-item">
        <picture>
          <source 
          srcset="
          ./images/emily-mob.jpg 1x,
          ./images/emily-mob.jpg 2x
          "
          media="(min-width:1200px)"
          />
          <source 
          srcset="
          ./images/emily-mob.jpg 1x,
          ./images/emily-mob.jpg 2x
          "
          media="(min-width:768px)"
          />
          <source 
          srcset="
          ./images/emily-mob.jpg 1x,
          ./images/emily-mob.jpg 2x
          "
          media="(max-width:767px)"
          />
          <img
          src="./images/emily-mob.jpg
          "
          alt="Bryan"
          class="customer-img"
          width="110"
          />
        </picture>
        <!-- <div class="customer-name"> -->
          <div  class="review-container">
          <p class="customer-review">I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles! 
           In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        </div>
          <!-- </div> -->
          <h2 class="customer-subtitle">Emily, Los-Angeles</h2>
        </li>
          <li class="customer-item">
            <picture>
              <source 
              srcset="
              ./images/sam-mob.jpg 1x,
              ./images/sam-mob.jpg 2x
              "
              media="(min-width:1200px)"
              />
              <source 
              srcset="
              ./images/sam-mob.jpg 1x,
              ./images/sam-mob.jpg 2x
              "
              media="(min-width:768px)"
              />
              <source 
              srcset="
              ./images/sam-mob.jpg 1x,
              ./images/sam-mob.jpg 2x
              "
              media="(max-width:767px)"
              />
              <img
              src="./images/sam-mob.jpg
              "
              alt="Sam"
              class="customer-img"
              width="110"
            />
            </picture>
            <!-- <div class="customer-name"> -->
              <div  class="review-container">
              <p class="customer-review">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
            </div>
              <!-- </div> -->
              <h2 class="customer-subtitle">Sam, Los-Angeles</h2>
         
              <li class="customer-item">
                <picture>
                  <source 
                  srcset="
                  ./images/diana-mob.jpg 1x,
                  ./images/diana-mob.jpg 2x
                  "
                  media="(min-width:1200px)"
                  />
                  <source 
                  srcset="
                  ./images/diana-mob.jpg 1x,
                  ./images/diana-mob.jpg 2x
                  "
                  media="(min-width:768px)"
                  />
                  <source 
                  srcset="
                  ./images/diana-mob.jpg 1x,
                  ./images/diana-mob.jpg 2x
                  "
                  media="(max-width:767px)"
                  />
                  <img
                  src="./images/diana-mob.jpg
                  "
                  alt="Diana"
                  class="customer-img"
                  width="110"
                  />
                </picture>
                <!-- <div class="customer-name"> -->
                  <div  class="review-container">
                  <p class="customer-review">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                </div>
                  <!-- </div> -->
                  <h2 class="customer-subtitle">Diana, Chicago</h2>

                  <li class="customer-item">
                    <picture>
                      <source 
                      srcset="
                      ./images/bryan-mob.jpg 1x,
                      ./images/bryan-mob.jpg 2x
                      "
                      media="(min-width:1200px)"
                      />
                      <source 
                      srcset="
                      ./images/bryan-mob.jpg 1x,
                      ./images/bryan-mob.jpg 2x
                      "
                      media="(min-width:768px)"
                      />
                      <source 
                      srcset="
                      ./images/bryan-mob.jpg 1x,
                      ./images/bryan-mob.jpg 2x
                      "
                      media="(max-width:767px)"
                      />
                      <img
                      src="./images/bryan-mob.jpg
                      "
                      alt="Bryan"
                      class="customer-img"
                      width="110"
                    />
                    </picture>
                      <div  class="review-container">
                      <p class="customer-review">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                    </div>
                      <h2 class="customer-subtitle">Bryan, New-York</h2>
                  </ul>
                  </div>
                   </section>
                 
