<footer class="footer">
  <div class="container">
      <div class="footer-content">
        <div class="footer-text">
          <p class="footer-pre-title">homemade ice cream made</p>
          <p class="footer-title">with passion</p>
        </div>
        <div class="footer-soc-contacts">
        <div class="footer-soc">
          <ul class="footer-soc-list list">
            <li class="footer-soc-item">
             <a href="https://github.com" target="_blank" rel="noopener noreferrer nofollow" class="footer-soc-link link">
               <svg class="footer-soc-github" width="19" height="19">
                 <use href="./images/icons.svg#icon-github"></use>
               </svg>
              </a>
            </li>
            <li class="footer-soc-item">
             <a href="https://telegram.org/" target="_blank" rel="noopener noreferrer nofollow" class="footer-soc-link link">
               <svg class="footer-soc-telegram" width="19" height="15">
                 <use href="./images/icons.svg#icon-telegram"></use>
               </svg>
             </a>
           </li>
            <li class="footer-soc-item">
             <a href="https://www.facebook.com/
             " target="_blank" rel="noopener noreferrer nofollow" class="footer-soc-link link">
               <svg class="footer-soc-facebook" width="9" height="19">
                 <use href="./images/icons.svg#icon-facebook"></use>
               </svg>
             </a>
           </li>
          </ul>
      </div>   
        <p class="footer-contacts">Feel free to contact <a href="tel:+610383766284" class="footer-contacts-tel link">+61 (0) 383 766 284</a>
        </p>
      </div>
      </div>
        <p class="footer-rights">© 2022 - IceCream. <br class="footer-br">
        All Rights Reserved. </p>
  </div>
    
</footer>