<header class="header">
    <div class="container">
        <a href="index.html">
            <svg class="header-icon">
                <use href="./images/icons.svg#icon-main-logo"></use>
            </svg>
        </a>     
        
        <div class="mob-menu-btn">
            <button type="button" class="mob-menu-button" data-menu-open>
                <svg class="mob-menu-icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-mob-menu"></use>
                </svg>
            </button>
        </div>

        <nav class="header-nav">
            <ul class="header-nav-list">
                <li><a href="/" class="header-nav-item"></a>Home</li>                
                <li><a href="/" class="header-nav-item"></a>How it’s made?</li>
                <li><a href="/" class="header-nav-item"></a>Our products</li>
                <li><a href="/" class="header-nav-item"></a>Contact</li>
            </ul>
        </nav>

       <!--  <button type="button">Buy now ></button> -->

    </div>



    <div class="mob-menu is-hidden" data-menu>
        <div class="container">
            <div class="mob-menu-top">
                <button type="button" class="menu-close" data-menu-close>X</button>
            </div>
            <h3>Menu</h3>
        </div>

    </div>

</header>