  <header class="header">

        <div class="container">
            <a href="index.html">
                <svg class="header-icon" width="40" height="37">
                    <use href="./images/icons.svg#icon-main-logo"></use>
                </svg>
            </a>     

            <div class="mob-menu-btn">
                <button type="button" class="mob-menu-button" data-menu-open>
                    <svg class="mob-menu-icon" width="32" height="32">
                        <use href="./images/icons.svg#icon-mob-menu"></use>
                    </svg>
                </button>
            </div>

            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li><a href="./index.html" class="header-nav-item list">Home</a></li>                
                    <li><a href="#about" class="header-nav-item list">How it’s made?</a></li>
                    <li><a href="#products" class="header-nav-item list">Our products</a></li>
                    <li><a href="#contacts" class="header-nav-item list">Contact</a></li>
                </ul>
            </nav>

            <button type="button" class="header-button button js-open-modal" data-modal="1">Buy now <svg class="read-btn__icon" width="7px" height="10px">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg></button>

        </div>



        <div class="mob-menu is-hidden" data-menu>
            <div class="container">
                <a href="index.html">
                    <svg class="mob-menu-mobile" width="40" height="37">
                        <use href="./images/icons.svg#icon-main-logo"></use>
                    </svg>
                </a>  

                <div class="mob-menu-top">
                    <button type="button" class="menu-close" data-menu-close>
                        <svg class="mob-menu-close" width="19" height="19">
                            <use href="./images/icons.svg#icon-mob-menu-close"></use>
                        </svg>
                    </button>
                </div>

                <div class="mob-menu-nav-poz">
                    <nav class="mob-menu-nav">
                        <ul class="mob-menu-nav-list">
                            <li><a href="./index.html" class="mob-menu-nav-item list">Home</a></li>                
                            <li><a href="#about" class="mob-menu-nav-item list">How it’s made?</a></li>
                            <li><a href="#products" class="mob-menu-nav-item list">Our products</a></li>
                            <li><a href="#contacts" class="mob-menu-nav-item list">Contact</a></li>
                        </ul>
                    </nav>

                    <div class="mob-menu-buy-poz">
                        <button type="button" class="mob-menu-buy button js-open-modal" data-modal="1">Buy now <svg class="read-btn__icon" width="7px" height="10px">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg></button>
                    </div>

                </div>


            </div>

        </div>

    </header>
</body>
</html>
