<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@700&family=Seymour+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
</head>

<!-- Modal Buy now -->
<div class="backdrop">
    <div class="mod-buy-now">
        <button type="button" class="button-close-modal">
            x
        </button>
        <h2>Buy now</h2>
        
        <form class="form-modal">
        <ul>
            <li>
            <label for="ice_cream">ice cream
            <input type="checkbox" id="ice_cream" name="buy-now">
                <img class="img"
                srcset="./images/mod-icecream-1x.png 1x, ./images/mod-icecream-2x.png 2x " 
                src="./images/mod-icecream-1x.png" 
                alt="ice cream" width="132" height="139" />
                </label>
            
            </li>
            <li>
            <label for="ice_coffee">ice coffee
                <input type="checkbox" id="ice_coffee" name="buy-now">
                <img class="img" 
                srcset="./images/mod-icecoffee-1x.png 1x, ./images/mod-icecoffee-2x.png 2x " 
                src="./images/mod-icecoffee-1x.png" 
                alt="ice coffee" width="132" height="139" />
                </label>
            </li>
            <li>
            <label for="milkshake">milkshake
                <input type="checkbox" id="milkshake" name="buy-now">
                <img class="img" 
                srcset="./images/mod-milkshake-1x.png 1x, ./images/mod-milkshake-2x.png 2x " 
                src="./images/mod-milkshake-1x.png" 
                alt="milkshake" width="132" height="139" />
                </label>
            </li>
        </ul>
    <div>
        <label >
             <input type="text" placeholder="name">
        </label>   
   </div>
   <div>
<label >
    <input type="tel" placeholder="phone">
</label>
</div>
<div>
<label>
    <textarea name="comment" cols="30" rows="10" placeholder="comment" class="form-textarea">
</textarea>
</label>
</div>
<button type="submit">submit</button>
        </form>
    </div>
</div>
<!-- modal ingredients -->
<div class="backdrop">
    <div class="mod-ingredients">
        <button type="button">x</button>
        <h2>Chololate icecream</h2>
        <img class="img" srcset="./images/mod-ingredient-1x.png 1x, ./images/mod-ingredient-2x.png 2x "
            src="./images/mod-ingredient-1x.png" alt="ice cream" width="132" height="139" />
        <ul class="Howitsmade_list list">
            <li class="Howitsmade_item">
                <div>
                    <p>320</p>
                </div>
                <p>kcal</p>
            </li>
            <li class="Howitsmade_item">
                <div>
                    <p>4g</p>
                </div>
                <p>Prote</p>
            </li>
            <li class="Howitsmade_item">
                <div>
                    <p>8.2g</p>
                </div>
                <p>Fats</p>
            </li>
            <li class="Howitsmade_item">
                <div>
                    <p>40.4g</p>
                </div>
                <p>Carbs</p>
            </li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>
                <p>Milk</p>
                <p>100ml</p>
            </li>
            <li>
                <p>Belgian chocolate</p>
                <p>20g</p>
            </li>
            <li>
                <p>Cream</p>
                <p>150 ml</p>
            </li>
            <li>
                <p>Cocoa powder</p>
                <p>30g</p>
            </li>
            <li>
                <p>Sugar</p>
                <p>40g</p>
            </li>
            <li>
                <p>Vanilla sugar</p>
                <p>10g</p>
            </li>
        </ul>
        <form >
            <div>
                <label>
                    <input type="text" placeholder="name">
                </label>
            </div>
            <div>
                <label>
                    <input type="tel" placeholder="phone">
                </label>
            </div>
            <div>
                <label>
                    <textarea name="comment" cols="30" rows="10" placeholder="comment" class="form-textarea">
            </textarea>
                </label>
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</div>
<!-- modal How it’s made? -->
<div class="backdrop">
    <div class="mod-Howitsmade">
        <button type="button">x</button>
        <h2>How it’s made?</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zagD0LQdsDE" 
            title="How it’s made?" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
            </iframe>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
    </div>
</div>
<!-- modal Our Locations -->
<div class="backdrop">
    <div class="mod-lacations">
        <button type="button">x</button>
        <h2>Our Locations</h2>
<a href="https://goo.gl/maps/eVM5a4UHusVCzEKq7" target="_blank"><img src="./images/map-location.png" alt="map"/></a>
        <button>Open map</button>
    </div>
</div>
<!-- Franchise modal -->
<div class="backdrop">
    <div class="mod-franchise">
        <button type="button">x</button>
        <h2>Thank you for your interest in owning an Ice Cream shop</h2>
        <p>
            Due to the overwhelming volume of franchise requests we are not accepting new 
            franchisee applications at this time. Once
            the application process resumes, we will contact you for further information. 
            Please fill out the contact information
            below and we will reach out for additional information. We appreciate your patience.
        </p>
        <form>
            <div>
                <label>
                    <input type="text" placeholder="name">
                </label>
            </div>
            <div>
                <label>
                    <input type="tel" placeholder="phone">
                </label>
            </div>
            <div>
                <label>
                    <input type="email" placeholder="Email">
                </label>
            </div>
            <div>
                <label>
                    <textarea name="comment" cols="30" rows="10" placeholder="comment" class="form-textarea">
                    </textarea>
                </label>
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</div>

