<section class="products-section">
    <div class="products-title-block"><p class="products-label">100% natural</p>
    <h2 class="products-title">products</h2>
</div>
<div class="products-cards">
    <ul class="products-cards-list">
        <li class="products-cards-item">
            <span class="products-circle">
                <h4 class="products-card-title">ice cream</h4>
                <p class="products-card-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <svg class="products-modal-arrow" width="40px" height="40px">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </span>
        </li>
        <li class="products-cards-item">
            <span class="products-circle">
                <h4 class="products-card-title">ice coffee</h4>
                <p class="products-card-text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <svg class="products-modal-arrow" width="40px" height="40px">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </span>
        </li>
        <li class="products-cards-item">
            <span class="products-circle">
                <h4 class="products-card-title">milkshakes</h4>
                <p class="products-card-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <svg class="products-modal-arrow" width="40px" height="40px">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </span>
        </li>
    </ul>
</div>
</section>