<section class="products-section" id="products">
  <div class="container">
    <div class="products-title-block">
      <p class="products-label">100% natural</p>
      <h2 class="products-title">products</h2>
    </div>
    <div class="products-cards">
      <ul class="products-cards-list">
        <li class="products-cards-item products-card-1">
          <div class="products-card-block">
            <h4 class="products-card-title products-card-title-1">ice cream</h4>
            <p class="products-card-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button
              type="button"
              class="products-button js-open-modal"
              data-modal="2"
            >
              <svg class="products-modal-arrow" width="40px" height="40px">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>

              <svg
                class="products-modal-arrow-hover"
                width="50px"
                height="50px"
              >
                <use href="./images/icons.svg#icon-arrow-hover"></use>
              </svg>

              <svg
                class="products-modal-arrow-focus"
                width="50px"
                height="50px"
              >
                <use href="./images/icons.svg#icon-arrow-focus"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products-cards-item products-card-2">
          <div class="products-card-block">
            <h4 class="products-card-title products-card-title-2">
              ice coffee
            </h4>
            <p class="products-card-text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button
              type="button"
              class="products-button js-open-modal"
              data-modal="2"
            >
              <svg class="products-modal-arrow" width="40px" height="40px">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>

              <svg
                class="products-modal-arrow-hover"
                width="50px"
                height="50px"
              >
                <use href="./images/icons.svg#icon-arrow-hover"></use>
              </svg>

              <svg
                class="products-modal-arrow-focus"
                width="50px"
                height="50px"
              >
                <use href="./images/icons.svg#icon-arrow-focus"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="products-cards-item products-card-3">
          <div class="products-card-block products-card-block-3">
            <h4 class="products-card-title products-card-title-3">
              milkshakes
            </h4>
            <p class="products-card-text products-card-text-3">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button
              type="button"
              class="products-button js-open-modal"
              data-modal="2"
            >
              <svg class="products-modal-arrow" width="40px" height="40px">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>

              <svg
                class="products-modal-arrow-hover"
                width="50px"
                height="50px"
              >
                <use href="./images/icons.svg#icon-arrow-hover"></use>
              </svg>

              <svg
                class="products-modal-arrow-focus"
                width="50px"
                height="50px"
              >
                <use href="./images/icons.svg#icon-arrow-focus"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
