.button {
  height: 42px;
  border: 0;

  color: var(--primary-text-color);
  border-radius: 10px;

  font-family: inherit;
  font-weight: 600;
}

// .button:hover,
// .button:focus {
//   color: #000;
//   background-color: #000;
// }
