.about {
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pre-title {
    @include font(700, 18, 1.22, null);

    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }

  &__title {
    margin-top: 12px;
    width: 200px;

    font-family: 'Seymour One';
    @include font(400, 30px, 1.27, 0.04em);

    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }

  &__image-wrapper {
    outline: 1px solid yellow;
    width: 100%;

    // @media screen and (max-width: 479.5px) {
    //   width: 281px;
    // }
  }

  &__image {
    outline: 1px solid orange;

    position: absolute;
    top: 265px;
    left: 50%;

    transform: translateX(-50%);

    // width: 100%;
    // width: 280px;

    // background-color: var(--accent-color);
    // background-position: -22px;
    // box-shadow: 0 -4.48583px 16.8218px #99721740;
    // border-radius: 50%;

    // @include tablet {
    //   width: 330px;
    // }
  }

  &__text-wrapper {
    width: 220px;
    margin-top: 370px;

    @media screen and (max-width: 319.5px) {
      width: 100%;
    }

    @include tablet {
      width: 336px;
      outline: 1px solid lime;
    }
  }

  &__text {
    text-align: center;

    color: var(--secondary-text-color);
  }

  &__text:nth-child(1) {
    @include font(null, 12px, 1.76, 0.04em);
  }

  &__text:nth-child(2) {
    margin-top: 4px;

    @include font(null, 12px, 1.62, null);
  }

  &__text:nth-child(3) {
    @mixin fonts($fw, $fs, $lh, $ls: 0) {
      font-weight: $fw;
      font-size: $fs + px;
      line-height: $lh/$fs;
      letter-spacing: $ls + em;
    }

    @include fonts(null, 12, 23, 0.04); // @include font(null, 12, 1.94, 0.04em)
    // font-family: 'Montserrat';
    // font-style: normal;
    // font-weight: 400;
    // font-size: 12px;
    // line-height: 194%;
    // /* or 23px */

    // letter-spacing: 0.04em;

    color: #fcfcfc;

    @media screen and (max-width: 768px) {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  }
}

.read-btn {
  width: 164px;
  margin-top: 20px;
  transition: color var(--main-transition),
    background-color var(--main-transition);
}

.read-btn__icon {
  transition: fill var(--main-transition);

  .read-btn:hover &,
  .read-btn:focus & {
    fill: var(--secondary-text-color);
  }
}
