.about {
  padding-bottom: 0;

  &__wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding-right: 34px;
      padding-left: 34px;
    }

    @include desktop {
      padding: 0 120px 88px 34px;
    }
  }

  &__pre-title {
    @include fonts(700, 18, 22);

    text-transform: uppercase;
    color: var(--secondary-text-color);

    @include tablet {
      @include fonts(800, 22, 27, 0.04);
    }

    @include desktop {
      @include fonts(null, 30, 37, 0.04);
    }
  }

  &__title {
    margin-top: 12px;

    font-family: 'Seymour One';
    @include fonts(400, 30, 38, 0.04);

    text-transform: uppercase;
    color: var(--secondary-text-color);

    @media screen and (max-width: 479.5px) {
      width: 200px;

      text-align: center;
    }

    @include tablet {
      @include fonts(null, 34, 43, 0.06);
    }

    @include desktop {
      @include fonts(null, 36, 45);
    }
  }

  &__image {
    position: absolute;

    border-radius: 50%;
    box-shadow: 0px 4.48583px 16.8218px rgb(153 114 23 / 25%);

    @media screen and (max-width: 767.5px) {
      left: 50%;

      transform: translateX(-50%);
    }
    @media screen and (max-width: 479.5px) {
      top: 180px;
    }

    @include mobile {
      top: 100px;
    }

    @include tablet {
      top: 149px;
      left: 35px;
    }

    @include desktop {
      top: 170px;
      left: 16px;
    }
  }

  &__content-wrap {
    margin-top: 370px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767.5px) {
      align-items: center;
    }

    @include mobile {
      margin-top: 360px;
    }

    @include tablet {
      margin-top: 79px;
      margin-left: auto;
    }

    @include desktop {
      margin-top: 172px;
      margin-left: auto;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 220px;

    text-align: center;

    @include mobile {
      width: 440px;
    }

    @include tablet {
      width: 335px;
      margin-left: auto;
      gap: 8px;

      text-align: start;
    }

    @include desktop {
      width: 463px;
    }
  }

  &__text {
    @include fonts(400, 12, 21, 0.04);
    color: var(--secondary-text-color);

    @include desktop {
      @include fonts(null, 14, 27, 0.04);
    }
  }

  &__text:nth-child(1) {
    @include desktop {
      @include fonts(null, 16, 28, 0.04);
    }
  }

  &__text:nth-child(2) {
    line-height: 1.62;

    @include tablet {
      line-height: 1.76;
    }
    @include desktop {
      line-height: 1.94;
    }
  }

  &__text:nth-child(3) {
    line-height: 1.94;

    @media screen and (max-width: 767.5px) {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      width: 255px;
    }
  }
}

.read-btn {
  width: 164px;
  margin-top: 20px;
  font-size: 14px;

  @include tablet {
    margin-top: 50px;
  }
}

.read-btn__icon {
  transition: fill var(--main-transition);

  .read-btn:focus & {
    fill: var(--secondary-text-color);
  }
}
