.advantages {
  padding-top: 42px;

  @include tablet {
    padding-top: 53px;
  }

  @include desktop {
    padding-top: 50px;
  }
}

.advantages__title {
  color: #fcfcfc;
  margin-bottom: 12px;
}

.advantages__list {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}

.advantages__item {
  @include tablet {
    max-width: 152px;
  }

  @include desktop {
    max-width: 368px;
    margin-bottom: 40px;
  }
}

.advantages__item--cow::before {
  content: '';
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto 16px;
  background-image: url('/src/images/cow-head.png');
  background-size: 50px 50px;
}
.advantages__item--weight::before {
  content: '';
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto 16px;
  background-image: url('/src/images/weight.png');
  background-size: 50px 50px;
}

.advantages__item--icecrema::before {
  content: '';
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto 16px;
  background-image: url('/src/images/ice-crema.png');
  background-size: 50px 50px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 0px;
  }
}

.advantages__item--title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 18px;

  @include tablet {
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 1.23;
  }
}

.advantages__item--txt {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #fcfcfc;
  margin: 0 auto;

  @include tablet {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.76;
    padding: 0 5px;
  }
}
