.section.contacts {
  padding-top: 0;
  padding-bottom: 0;
  height: 1070px;

  @include tablet {
    height: 300px;
  }

  @include desktop {
    height: 530px;
  }
}
.contacts {
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 20px;

    @include tablet {
      gap: 16px;
    }

    @include desktop {
      gap: 24px;
    }
  }
  &-item {
    width: 100%;
    padding: 40px 32px;
    @include fonts(500, 12, 22, 0.04);
    background: var(--secondary-text-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include mobile {
      width: 440px;
    }

    @include tablet {
      padding: 40px 24px;
      width: 224px;

      @include fonts(500, 14, 26, 0.04);
    }
    @include desktop {
      padding: 40px;
      width: 368px;
      @include fonts(500, 16, 30, 0.04);
    }
  }

  &-category {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    height: 16px;
    width: 80px;
    @include fonts(500, 12, 22, 0.04);
    display: flex;
    align-items: center;
    text-align: center;

    text-transform: uppercase;
    color: var(--primary-text-color);
    background: var(--accent-color);
    border-radius: 6px;

    @include tablet {
      padding-left: 12px;
      padding-right: 12px;
      @include fonts(500, 16, 30, 0.04);
      height: 28px;
      width: 73px;
    }
    @include desktop {
      @include fonts(500, 16, 30, 0.04);
    }

    &.truck {
      padding-left: 10px;
      padding-right: 10px;
      width: 130px;
      @include tablet {
        height: 28px;
        width: 138px;
      }
    }
  }

  &-city {
    margin-top: 20px;

    @include tablet {
      margin-top: 32px;
    }
    @include desktop {
      margin-top: 34px;
    }
  }
}
.container.contacts {
  position: relative;
  bottom: 420px;

  @include tablet {
    bottom: 310px;
  }

  @include desktop {
    bottom: 140px;
  }
}

.address {
  margin-top: 8px;
  display: block;

  @include tablet {
    margin-top: 12px;
  }
  @include desktop {
    margin-top: 8px;
  }
}

.contacts-address {
  color: #d6936d;
  text-decoration: none;
  transition: transform var(--main-transition);

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.schedule-list::before,
.connection-list::before {
  content: ' ';
  display: block;
  width: 216px;
  border: 1px solid #e1e1e1;
  margin-top: 24px;

  @include tablet {
    margin-top: 26px;
    width: 176px;
  }
  @include desktop {
    margin-top: 32px;
    width: 288px;
  }
}

.schedule-item:last-child {
  margin-top: 8px;

  @include tablet {
    margin-top: 12px;
  }
}

.schedule-item:first-child {
  margin-top: 24px;

  @include tablet {
    margin-top: 26px;
  }
  @include desktop {
    margin-top: 32px;
  }
}

.schedule-hours {
  color: #ababab;
}

.connection-item:first-child {
  margin-top: 24px;

  @include tablet {
    margin-top: 32px;
  }
}

.connection-link {
  text-decoration: none;
  color: var(--primary-text-color);
  @include fonts(500, 12, 18, 0.04);

  @include tablet {
    @include fonts(500, 14, 26, 0.04);
  }
  @include desktop {
    @include fonts(500, 16, 29, 0.04);
  }
}

.btn-wrap {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 164px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 408px;
    margin-top: 60px;
  }
  @include desktop {
    width: 388px;
    margin-top: 64px;
    flex-wrap: nowrap;
  }
}

.button.btn-location,
.button.btn-franchise {
  width: 196px;
  transition: color var(--main-transition), border var(--main-transition);
}

.contacts-icon {
  transition: fill var(--main-transition);

  .btn-location:focus &,
  .btn-franchise:focus & {
    fill: var(--secondary-text-color);
  }
}

.button.btn-franchise {
  margin-top: 0px;
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);

  &:hover {
    border: 2px solid var(--button-focus-color);
  }
  &:focus {
    border: 2px solid var(--button-focus-color);
    color: var(--secondary-text-color);
  }
  &:disabled {
    border: 2px solid #ababab;
  }
}
