// .customers {
//     padding-top: 60px;
//     padding-bottom: 60px;
// }
.customers {
  background-image: url(/src/images/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.customer-item {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 489px;
  @include tablet {
    padding-top: 55px;
    padding-bottom: 383px;
  }
  @include desktop {
    padding-top: 273px;
    padding-bottom: 240px;
  }
}

.customer-img {
  border-radius: 50%;
  margin-top: 121px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-top: 161px;
    margin-bottom: 34px;
  }
  @include desktop {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.customer-review {
  color: #fcfcfc;
  border: 1px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 39px;
  padding-bottom: 39px;
  text-align: center;
  font-size: 12px;
  line-height: 2.5;
  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 16px;
    padding-left: 109px;
    padding-right: 109px;
  }
}
.review-container {
  display: flex;
  align-items: center;
  width: 280px;
  height: 256.06px;
  background-color: var(--main-background-color);
  border-radius: 7.41px;
  margin-left: auto;
  margin-right: auto;
  //   @include mobile {
  //     max-width: 440px;
  //   }
  @include tablet {
    width: 705px;
    height: 138px;
  }
  @include desktop {
    width: 968px;
    height: 138px;
  }
}

.customer-subtitle {
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.86;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 16px;
  }
}

.slick-slider {
  position: relative;
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.slick-dots li {
  width: 0;
  height: 0;
  bottom: 490px;
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;

  @include tablet {
    bottom: 380px;
  }
  @include desktop {
    bottom: 240px;
  }
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '•';
  text-align: center;
  opacity: 0.15;
  fill: #84a178;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #84a178;
}
