.gallery {
  z-index: 1;
  position: relative;
  
  margin-bottom: -106px;
  @include tablet {
    margin-bottom: -163px;
  }
  @include desktop {
    margin-bottom: -328px;
  }
  &__image-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1 / 0.46;
    border-radius: 7.40681px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    @include mobile { 
      width: 440px;
      aspect-ratio: 1 / 0.46;
    }

    @include tablet {
      width: 704px;
      height: 327px;
      border-radius: 18px;
    }
    @include desktop {
      width: 1013px;
      height: 422px;
      border-radius: 24px;
    }
    picture {
      position: absolute;
      left: 0;
      animation-name: FadeInOut;
      animation-iteration-count: infinite;
      animation-duration: 9s;
      width: 100%;
      img {
        width: 100%;
      }
    }
    picture:nth-of-type(1) {
      animation-delay: 6s;
    }
    picture:nth-of-type(2) {
      animation-delay: 3s;
    }
    picture:nth-of-type(3) {
      animation-delay: 0;
    }
  }
}

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
