@media screen and (max-width: 767px) {
  .hero {
    background-image: url(/src/images/hero-image/mobile-fon.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 450px;
  }

  .hero-title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 247px;

    color: var(--secondary-text-color);
    margin-top: 57px;
    margin-bottom: 32px;
  }

  .hero-title_span {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 34px;
    line-height: 0.965;
    text-transform: uppercase;
    width: 247px;

    color: var(--secondary-text-color);
    margin-top: 57px;
    margin-bottom: 32px;
  }

  .hero-set {
    position: relative;
    bottom: 435px;
    left: 0px;
    display: flex;
    align-items: baseline;
  }

  .hero-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;

    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;

    // padding-top: 4px;
    // padding-bottom: 4px;
    // padding-left: 18px;
    // padding-right: 18px;

    margin-right: 10px;
    // margin-right: 24px;

    &:hover {
      border: 2px solid var(--button-focus-color);
      color: var(--primary-text-color);
    }

    &:focus {
      border: 2px solid var(--primary-text-color);
      color: var(--secondary-text-color);
    }
  }

  .hero-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.21;
    cursor: pointer;

    text-decoration-line: underline;

    color: var(--accent-color);
    border: none;

    &:hover {
      color: var(--border-color);
    }
    &:focus {
      color: var(--secondary-text-color);
    }
  }

  .hero-list {
    position: absolute;
    margin-top: 42px;
    margin-bottom: 65px;

    &__image {
      display: none;
    }

    &__text {
      display: none;
    }
  }

  .hero-icon {
    display: none;
  }

  .hero-part {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 118px;
    padding-left: 82px;
    padding-right: 81px;
  }

  .hero-part__image {
    max-width: 219px;
    left: -25px;
    bottom: -75px;
    position: relative;
  }

  .fon-blure_wrap {
    width: 300px;
    height: 400px;
    position: relative;
  }

  .hero-part_img {
    display: inline;
    position: relative;
    width: 300px;
    height: 400px;
    position: absolute;
    top: -29;
    right: -25;
  }

  .fon_blure {
    width: 400px;
    height: 550px;
    position: absolute;
    bottom: -115px;
    right: -45px;
    filter: blur(50px);
  }

  .ice-icon {
    filter: blur(50px);
  }

  .hero-numbers {
    display: none;
  }
}

.btn {
  background-color: transparent;
  border: none;
}

// .background-filter {

// }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 350px;
    background-image: url(/src/images/hero-image/tablet-fon.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .hero-title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    width: 181px;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    margin-top: 53px;
    margin-bottom: 28px;
  }

  .hero-title_span {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.28;
    text-transform: uppercase;
    width: 182px;

    color: var(--secondary-text-color);
  }

  .hero-set {
    position: relative;
    bottom: 720px;
    left: 0px;
    display: flex;
    align-items: center;
  }

  .hero-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;

    border: 2px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;

    // padding-top: 12px;
    // padding-bottom: 12px;
    // padding-left: 34px;
    // padding-right: 34px;

    margin-right: 10px;

    &:hover {
      border: 2px solid var(--button-focus-color);
      color: var(--primary-text-color);
    }

    &:focus {
      border: 2px solid var(--primary-text-color);
      color: var(--secondary-text-color);
    }
  }

  .hero-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    padding: 8px;

    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    cursor: pointer;

    color: var(--accent-color);
    background-color: var(--main-background-color);
    border: none;
    // margin-top: 10px;

    &:hover {
      color: var(--border-color);
    }
    &:focus {
      color: var(--secondary-text-color);
    }
  }

  .hero-list {
    position: relative;
    top: 65px;

    &__image {
      width: 152px;
    }

    &__text {
      font-size: 12px;
      line-height: 1.7;
      color: var(--secondary-text-color);
    }
  }

  .hero-part__text {
    width: 151px;
    position: relative;
    left: 180px;
    bottom: 75px;
  }

  .hero-additions__title {
    margin-bottom: 20px;
  }

  .hero-icon {
    fill: var(--secondary-text-color);
  }

  .hero-part {
    position: relative;
    display: inline-block;
    left: 370px;
    bottom: 385px;
    pointer-events: none;
  }

  .picture {
    background: rgba(252, 252, 252, 0.44), blur(26.8405);
  }

  .hero-part__image {
    display: inline;
    width: 257px;
    height: 324.92px;
  }
  .fon-blure_wrap {
    width: 300px;
    height: 400px;
    position: relative;
  }

  .hero-part_img {
    display: inline;
    position: relative;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
  }

  .fon_blure {
    width: 400px;
    height: 550px;
    position: absolute;
    bottom: -25px;
    right: -32px;
    filter: blur(50px);
  }

  .ice-icon {
    filter: blur(50px);
  }

  .hero-numbers__part {
    display: inline-block;
    position: relative;
    bottom: 830px;
    left: 680px;
  }

  .hero-numbers {
    text-align: right;
  }

  .hero-numbers__one {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .hero-numbers__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    height: 587px;
    margin: 0 auto;
    background-image: url(/src/images/hero-image/desktop-fon.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .hero-title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 367px;

    color: var(--secondary-text-color);
    margin-top: 58px;
    margin-bottom: 28px;
  }

  .hero-title_span {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 367px;

    color: var(--secondary-text-color);
  }

  .hero-set {
    position: relative;
    bottom: 950px;
    left: 0px;
    display: flex;
    align-items: center;
  }

  .hero-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;

    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;

    margin-top: 28px;
    margin-right: 34px;

    &:hover {
      border: 2px solid var(--button-focus-color);
      color: var(--primary-text-color);
    }

    &:focus {
      border: 2px solid var(--primary-text-color);
      color: var(--secondary-text-color);
    }
  }

  .hero-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    background-color: var(--main-background-color);

    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    // text-decoration-line: underline;
    cursor: pointer;

    color: var(--accent-color);
    border: none;
    margin-top: 32px;

    &:hover {
      color: var(--border-color);
    }
    &:focus {
      color: var(--secondary-text-color);
    }
  }

  .hero-list {
    position: relative;
    top: 120px;

    &__text {
      font-size: 14px;
      line-height: 1.42;
      color: var(--secondary-text-color);
    }
  }

  .hero-part__text {
    width: 200px;
    position: relative;
    left: 235px;
    bottom: 25px;
  }

  .hero-additions__title {
    margin-bottom: 32px;
  }

  .hero-icon {
    fill: var(--secondary-text-color);
  }

  .hero-part {
    display: inline-block;
    position: relative;
    left: 620px;
    bottom: 531px;
  }
  .fon-blure_wrap {
    width: 477px;
    height: 590px;
    position: relative;
  }
  .hero-part_img {
    position: relative;
    width: 100%;
    position: absolute;
    top: 40;
  }

  .fon_blure {
    position: absolute;
    top: -95px;
    right: -90px;
    filter: blur(50px);
  }

  .ice-icon {
    filter: blur(50px);
  }

  .picture {
    background: rgba(252, 252, 252, 0.44), blur(26.8405);
  }

  .hero-part__image {
    margin-bottom: 0px;
  }

  .hero-numbers__part {
    display: inline-block;
    position: relative;
    bottom: 1155px;
    right: -1100px;
  }

  .hero-numbers_list {
    margin-bottom: 32px;
  }
  .hero-numbers {
    text-align: right;
  }

  .hero-numbers__one {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .hero-numbers__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: var(--secondary-text-color);
  }
}

.btn {
  background-color: transparent;
  border: none;
  margin-top: 5px;
}

.hero-numbers__one {
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 768px) {
    font-size: 46px;
  }
}

.hero-set {
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
