.backdrop {
    margin-top: 20px;
}
// modal Buy now
.mod-buy-now {
    background-color: azure;
}
// modal-ingredients
.mod-ingredients {
    background-color: beige;
}
.Howitsmade_item {
    width: 53px;
    height: 72px;
    border: 2px solid #9CBE8F;
    border-radius: 40px;
}
// modal-How its made

.mod-Howitsmade {
    background-color: bisque;
}
// modal Our Locations
.mod-lacations {
    background-color:aliceblue;
}
// Franchise modal
.mod-franchise {
    background-color:rgb(223, 211, 195);
}