.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  overflow-y: scroll;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 30;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.close-modal_button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.close-modal_icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

// modal Buy now ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.mod-buy-now {
  padding: 28px;
  margin: 0 auto;
  width: 280px;
  height: 986px;
  max-height: 720px;
  background: var(--secondary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding: 32px 54px;
    width: 568px;
    height: 644px;
    max-height: 644px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.mod-buy-now_title {
  margin-bottom: 84px;
  font-family: 'Seymour One';
  @include fonts(400, 16, 24, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(400, 20, 28, 0);
    margin-bottom: 103px;
  }
}

.mod-buy-now_list {
  display: block;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 84px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    gap: 32px;
    flex-wrap: nowrap;
  }
}

.mod-buy-now_item {
  position: relative;
  width: 132px;
  height: 136px;
}

.mod-buy-now_label {
  cursor: pointer;
}

.mod-buy-now_label-span-cream {
  position: absolute;
  width: 132px;
  height: 136px;
  padding-top: 96px;
  @include fonts(700, 16, 20, 0.04);
  color: var(--primary-text-color);
  text-align: center;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mod-buy-now_input:checked + & {
    border: 2px solid #96af8c;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background-color: #96af8c;
  }

  &:hover,
  :focus {
    border: 2px solid #96af8c;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background-color: #96af8c;
  }
}

.mod-buy-now_label-span-coffee {
  position: absolute;
  width: 132px;
  height: 136px;
  padding-top: 96px;
  @include fonts(700, 16, 20, 0.04);
  color: var(--primary-text-color);
  text-align: center;
  border: 2px solid #efd478;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mod-buy-now_input:checked + & {
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background-color: #efd478;
  }

  &:hover,
  :focus {
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background-color: #efd478;
  }
}

.mod-buy-now_label-span-milk {
  position: absolute;
  width: 132px;
  height: 136px;
  padding-top: 96px;
  @include fonts(700, 16, 20, 0.04);
  color: var(--primary-text-color);
  text-align: center;
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mod-buy-now_input:checked + & {
    border: 2px solid #d6936d;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background-color: #d6936d;
  }

  &:hover,
  :focus {
    border: 2px solid #d6936d;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background-color: #d6936d;
  }
}

.mod-buy-now_input {
  position: absolute;
  -webkit-appearance: none;
}

.mod-buy-now_img {
  position: absolute;
  top: -73px;
  left: 0;
  width: 110%;
}

.mod-elipse-cream {
  position: absolute;
  top: -66px;
  left: 0;
  width: 132px;
  height: 132px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}

.mod-elipse-coffee {
  position: absolute;
  top: -66px;
  left: 0;
  width: 132px;
  height: 132px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}

.mod-elipse-milk {
  position: absolute;
  top: -66px;
  left: 0;
  width: 132px;
  height: 132px;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.mod-buy-now_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.modal-form_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.modal-form_label {
  width: 100%;
}

.modal-form_input {
  padding: 8px 12px 7px 12px;
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--main-background-color);
  border-radius: 10px;
  outline: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--button-focus-color);
  }

  &::placeholder {
    @include fonts(400, 12, 17, 0);
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
      @include fonts(400, 14, 20, 0);
    }
  }

  &:invalid {
    border-color: #ff0000;
  }

  @media screen and (min-width: 768px) {
    padding: 11px 16px;
    width: 368px;
  }
}

.modal-form_textarea {
  padding: 8px 12px 7px 12px;
  width: 100%;
  height: 65px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--main-background-color);
  border-radius: 10px;
  outline: 0;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--button-focus-color);
  }

  &::placeholder {
    @include fonts(400, 12, 17, 0);
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
      @include fonts(400, 14, 20, 0);
    }
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    padding: 11px 16px;
  }
}

.mod-buy-now_button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  padding: 12px 34px;

  @include fonts(600, 12, 15, 0);
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    @include fonts(600, 14, 17, 0);
    margin-top: 32px;
  }

  &:hover,
  :focus {
    background-color: var(--button-focus-color);
    color: var(--secondary-text-color);
  }
}

// modal-ingredients ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.mod-ingredients {
  padding: 28px 20px 32px 20px;
  margin: 0 auto;
  width: 280px;
  height: 990px;
  max-height: 720px;
  background: var(--secondary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding: 32px 40px;
    width: 568px;
    height: 995px;
    overflow-x: hidden;
  }
}

.mod-ingredients_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: center;
  }
}

.mod-ingredients_title {
  margin-bottom: 22px;
  width: 142px;
  font-family: 'Seymour One';
  @include fonts(400, 20, 28, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-bottom: 22px;
    width: auto;
  }
}

.ingredients-img-wrap {
  position: relative;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 132px;
  height: 138px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.mod-ingredients_img {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 24px;
}

.mod-ingredients_item {
  position: relative;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}

.ingredients-icon_meaning {
  position: absolute;
  top: -2;
  left: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @include fonts(500, 10, 28, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(500, 12, 28, 0);
    top: -2;
    left: 5;
    width: 53px;
    height: 53px;
  }
}

.ingredients-icon_text {
  padding-top: 52px;
  @include fonts(400, 10, 12, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(400, 12, 15, 0);
    padding-top: 61px;
  }
}

.mod-ingredients_list {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
    gap: 20px;
  }
}

.ingredients_title {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 142px;
  @include fonts(500, 20, 28, 0);
  text-align: center;
  color: var(--primary-text-color);
}

.ingredients_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  width: 100%;
  gap: 11px;
}

.ingredients_item {
  display: flex;
  justify-content: space-between;
}

.ingredients_text {
  @include fonts(400, 14, 25, 0.04);
  color: var(--primary-text-color);
}

.form-ingredients_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  text-align: center;
}
.form-ingredients_wrap .modal-form_textarea {
  padding: 11px;
  height: 84px;

  @media screen and (min-width: 768px) {
    width: 368px;
    padding: 11px 16px;
  }
}

.mod-ingredients_button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  padding: 12px 34px;

  @include fonts(600, 14, 17, 0);
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    background-color: var(--button-focus-color);
    color: var(--secondary-text-color);
  }
}

// modal-How its made ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.mod-howitsmade {
  padding: 28px;
  margin: 0 auto;
  width: 280px;
  height: 459px;
  background: var(--secondary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
    height: 449px;
  }
}

.mod-howitsmade_title {
  margin-bottom: 20px;
  font-family: 'Seymour One';
  @include fonts(400, 16, 24, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(400, 20, 28, 0);
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.mod-howitsmade_video {
  margin-bottom: 20px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}

.mod-howitsmade_text {
  width: 100%;
  @include fonts(400, 14, 20, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(400, 16, 22, 0);
    margin: 0 auto;
  }
}

// modal Our Locations ++++++++++++++++++++++++++++++++

.mod-lacations {
  padding: 28px;
  margin: 0 auto;
  width: 280px;
  height: 365px;
  background: var(--secondary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
    height: 458px;
  }
}

.mod-lacations_title {
  margin-bottom: 20px;
  font-family: 'Seymour One';
  @include fonts(400, 16, 24, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(400, 20, 28, 0);
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.mod-lacations_img {
  width: 224px;
  height: 199px;
  margin-bottom: 24px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
  }
}

.mod-lacations_link {
  border-radius: 10px;
}

.mod-lacations_button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  padding: 12px 34px;

  @include fonts(600, 12, 15, 0);
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    @include fonts(600, 14, 17, 0);
  }

  &:hover,
  :focus {
    background-color: var(--button-focus-color);
    color: var(--secondary-text-color);
  }
}

// Franchise modal  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.mod-franchise {
  padding: 28px;
  margin: 0 auto;
  width: 280px;
  height: 674px;
  background: var(--secondary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
    height: 668px;
  }
}

.mod-franchise_title {
  width: 221px;
  margin-bottom: 20px;
  font-family: 'Seymour One';
  @include fonts(400, 16, 24, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    @include fonts(400, 20, 28, 0);
    margin: 0 auto;
    margin-bottom: 32px;
    width: 322px;
  }
}

.mod-franchise_text {
  width: 100%;
  margin-bottom: 24px;
  @include fonts(400, 14, 20, 0);
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 448px;
    @include fonts(400, 16, 22, 0);
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.mod-franchise_button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 12px 34px;
  margin-top: 24px;

  @include fonts(600, 12, 15, 0);
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    @include fonts(400, 16, 17, 0);
    margin: 0 auto;
    margin-top: 32px;
  }

  &:hover,
  :focus {
    background-color: var(--button-focus-color);
    color: var(--secondary-text-color);
  }
}
